.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

:root {
  --blue-background: #3b82f6;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto auto;
    font-family: 'Roboto', sans-serif;
}

/*           Dashboard Start                 */

.dashboard {
  background-color: var(--blue-background);
  color: white;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
}

.db-logo-container {
  display: flex;
  align-items: center;
  margin: 15px;
}

.db-logo-container div {
  font-size: larger;
  font-weight: 900;
}

.db-logo-container img {
  width: 40px;
  filter: invert(100%);
  margin-right: 5px;
}

.dashboard-items {
  margin-bottom: 50px;
}

.db-item {
  display: flex;
  text-decoration: none;
  color: white;
  width: 100%;
  padding-left: 25px;
}

.db-item img {
  width: 20px;
  filter: invert(100%);
  margin-right: 10px;
}

.db-item p {
  font-weight: 700;
}

/*             Header Start                 */
.header {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.top-header {
  display: flex;
  justify-content: space-between;
}

.search-bar-container {
    display: flex;
  align-items: center;
  margin-left: 24px;
}

#search-bar {
  min-width: 650px;
  height: 23px;
  margin-left: 20px;
  border-radius: 10px;
  border: none;
  background: #1a49481f
}

.user-options {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.user-options > * {
  margin: 0 12px;
}

.user-options img {
  border-radius: 50%;
  width: 40px;
}

.user-options a {
  text-decoration: none;
  color: black;
  font-size: larger;
  font-weight: 700;
}

.user-options p {
  flex-shrink: 0;
}

.bottom-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 25px;
}

.bottom-header img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  margin: 10px 25px;
}

.profile {
  display: flex;
}

.hi-user {
  line-height: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.hi-user .greetings {
  font-size: 0.85rem;
  font-weight: 700;
}

.hi-user .username {
  font-size: x-large;
  font-weight: 700;
}

.user-buttons {
  display: flex;
  align-items: center;
}

.user-buttons > a{
  text-decoration: none;
  color: white;
  background-color: var(--blue-background);
  padding: 10px 30px;
  border-radius: 20px;
  margin: 10px;
  font-weight: 700;
}

/*             Main Content Start                */
.main-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto auto;
  background: #1a49481f;
  box-shadow: inset 0 12px 8px -12px rgba(0, 0, 0, 0.5);
}

.user-projects {
  grid-row: 1 / 3;
}

.user-projects h3 {
  margin: 30px;
  margin-bottom: 0;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
}

.cards {
  padding: 10px 20px;
  margin: 10px 10px 20px 30px;
  border-left: 9px solid #deb502;
  border-radius: 10px;
  background-color: white;
  box-shadow: 1px 1px 7px 1px #80808078;
}

.card-title {
  font-weight: 700;
  font-size: 15px;
}

.card-body {
  font-weight: 100;
}

.cards .icons {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.cards .icons:hover {
  cursor: pointer;
}

.cards img {
  width: 25px;
}

.announcements h3 {
  margin-top: 30px;
  margin-bottom: 0;
}

.announcements-container {
  background-color: white;
  padding: 5px 30px;
  margin: 10px 10px 10px 0;
  border-radius: 10px;
  box-shadow: 1px 1px 7px 1px #80808078;
}

.announcement-item .announce-title {
  font-weight: 700;
}

.announcement-item .announce-body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.trendings h3 {
  margin-bottom: 0;
}

.trends-container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 7px 1px #80808078;
  padding: 15px 10px;
  margin: 10px;
}

.trending-item {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 10px;
}

.trending-item img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.trending-item .trending-username {
  display: flex;
  flex-flow: column;
  line-height: 0;
}

.trending-username > * {
  margin: 15px;
  font-size: 15px;
}

.trending-username .usertag {
  transform: translateY(10px);
  font-weight: 700;
}
